In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk
import seaborn as sns

In [2]:
df = pd.read_csv('weather_forecasts.csv')
df.head()

,date,city,state,high_or_low,forecast_hours_before,observed_temp,forecast_temp,observed_precip,forecast_outlook,possible_error
0,2021-01-30,ABILENE,TX,high,48,70.0,NaN,0.0,NaN,none
1,2021-01-30,ABILENE,TX,high,36,70.0,NaN,0.0,NaN,none
2,2021-01-30,ABILENE,TX,high,24,70.0,NaN,0.0,NaN,none
3,2021-01-30,ABILENE,TX,high,12,70.0,70.0,0.0,DUST,none
4,2021-01-30,ABILENE,TX,low,48,42.0,NaN,0.0,NaN,none

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 651968 entries, 0 to 651967
Data columns (total 10 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   date                   651968 non-null  object
 1   city                   651968 non-null  object
 2   state                  651968 non-null  object
 3   high_or_low            651968 non-null  object
 4   forecast_hours_before  651968 non-null  int64
 5   observed_temp          604224 non-null  float64
 6   forecast_temp          614655 non-null  float64
 7   observed_precip        601552 non-null  float64
 8   forecast_outlook       614093 non-null  object
 9   possible_error         651968 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 49.7+ MB

In [4]:
df.describe()

       forecast_hours_before  observed_temp  forecast_temp  observed_precip
count          651968.000000  604224.000000  614655.000000    601552.000000
mean               30.000000      57.563837      57.360754         0.098873
std                13.416418      21.810184      21.819017         0.324311
min                12.000000     -47.000000     -41.000000         0.000000
25%                21.000000      42.000000      42.000000         0.000000
50%                30.000000      59.000000      59.000000         0.000000
75%                39.000000      74.000000      74.000000         0.020000
max                48.000000     122.000000     118.000000        12.400000

In [5]:
df.columns

Index(['date', 'city', 'state', 'high_or_low', 'forecast_hours_before',
       'observed_temp', 'forecast_temp', 'observed_precip', 'forecast_outlook',
       'possible_error'],
      dtype='object')

In [6]:
#unique values from city column
df['city'].unique()

array(['ABILENE', 'AKRON_CANTON', 'ALBANY', 'ALBUQUERQUE', 'ALLENTOWN',
       'AMARILLO', 'ANCHORAGE', 'ASHEVILLE', 'ATLANTA', 'ATLANTIC_CITY',
       'AUSTIN', 'BALTIMORE', 'BATON_ROUGE', 'BILLINGS', 'BIRMINGHAM',
       'BISMARCK', 'BOISE', 'BOSTON', 'BRIDGEPORT', 'BROWNSVILLE',
       'BUFFALO', 'BURLINGTON', 'CARIBOU', 'CASPER', 'CHARLESTON',
       'CHARLOTTE', 'CHATTANOOGA', 'CHEYENNE', 'CHICAGO', 'CINCINNATI',
       'CLEVELAND', 'COLORADO_SPGS', 'COLUMBIA', 'COLUMBUS', 'LINCOLN',
       'LITTLE_ROCK', 'LOS_ANGELES', 'LOUISVILLE', 'LUBBOCK', 'MACON',
       'MADISON', 'MEDFORD', 'MEMPHIS', 'MIAMI_BEACH', 'MIDLAND_ODESSA',
       'MILWAUKEE', 'MPLS_ST_PAUL', 'MISSOULA', 'MOBILE', 'MONTGOMERY',
       'NASHVILLE', 'NEW_ORLEANS', 'NEW_YORK_CITY', 'NEWARK', 'NORFOLK',
       'NORTH_PLATTE', 'OKLAHOMA_CITY', 'OMAHA', 'ORLANDO', 'PADUCAH',
       'PENDLETON', 'PEORIA', 'PHILADELPHIA', 'PHOENIX', 'PITTSBURGH',
       'POCATELLO', 'PORTLAND', 'PROVIDENCE', 'PUEBLO', 'RALEIGH_DURHAM',
       'RAPID_CITY', 'RENO', 'RICHMOND', 'ROANOKE', 'ROCHESTER',
       'ROCKFORD', 'SACRAMENTO', 'ST_LOUIS', 'ST_PETERSBURG', 'ST_THOMAS',
       'CONCORD', 'CORPUS_CHRISTI', 'DALLAS_FT_WORTH', 'DAYTON',
       'DAYTONA_BEACH', 'DENVER', 'DES_MOINES', 'DETROIT', 'DULUTH',
       'EL_PASO', 'ELKINS', 'ERIE', 'EUGENE', 'EVANSVILLE', 'FAIRBANKS',
       'FARGO', 'FLAGSTAFF', 'FLINT', 'FORT_SMITH', 'FORT_WAYNE',
       'FRESNO', 'GOODLAND', 'GRAND_JUNCTION', 'GRAND_RAPIDS',
       'GREAT_FALLS', 'GREEN_BAY', 'GREENSBORO', 'HARRISBURG',
       'HARTFORD_SPGFLD', 'HELENA', 'HONOLULU', 'HOUSTON', 'HUNTSVILLE',
       'INDIANAPOLIS', 'JACKSON', 'JACKSONVILLE', 'JUNEAU', 'KANSAS_CITY',
       'KEY_WEST', 'KNOXVILLE', 'LAKE_CHARLES', 'LANSING', 'LAS_VEGAS',
       'LEXINGTON', 'SALEM', 'SALT_LAKE_CITY', 'SAN_ANGELO',
       'SAN_ANTONIO', 'SAN_DIEGO', 'SAN_FRANCISCO', 'SAN_JOSE',
       'SAN_JUAN', 'SANTA_FE', 'ST_STE_MARIE', 'SAVANNAH', 'SEATTLE',
       'SHREVEPORT', 'SIOUX_CITY', 'SIOUX_FALLS', 'SOUTH_BEND', 'SPOKANE',
       'SPRINGFIELD', 'SYRACUSE', 'TALLAHASSEE', 'TAMPA', 'TOLEDO',
       'TOPEKA', 'TUCSON', 'TULSA', 'TUPELO', 'WACO', 'WASHINGTON',
       'W_PALM_BEACH', 'WICHITA', 'WICHITA_FALLS', 'WILKES_BARRE',
       'WILMINGTON', 'YAKIMA', 'YOUNGSTOWN', 'YUMA'], dtype=object)

In [7]:
#amount of unique values from city column
df['city'].nunique()

160

In [8]:
#amount of unique values from state column
df['state'].nunique()

53

In [9]:
#unique values from state colum
df['state'].unique()

array(['TX', 'OH', 'NY', 'NM', 'PA', 'AK', 'NC', 'GA', 'NJ', 'MD', 'LA',
       'MT', 'AL', 'ND', 'ID', 'MA', 'CT', 'WY', 'VT', 'ME', 'SC', 'WV',
       'TN', 'IL', 'CO', 'NE', 'AR', 'CA', 'KY', 'WI', 'OR', 'FL', 'MN',
       'VA', 'OK', 'AZ', 'RI', 'SD', 'NV', 'MO', 'VI', 'NH', 'IA', 'MI',
       'IN', 'KS', 'HI', 'MS', 'UT', 'PR', 'WA', 'DC', 'DE'], dtype=object)

In [10]:
#unique values from high_or_low colum
df['high_or_low'].unique()

array(['high', 'low'], dtype=object)

In [11]:
#unique values from forecast_outlook colum
df['forecast_outlook'].unique()

array([nan, 'DUST', 'SUNNY', 'MOCLDY', 'SNOW', 'PTCLDY', 'RAIN', 'SHWRS',
       'CLOUDY', 'FZDRZL', 'FOG', 'WINDY', 'SNOSHW', 'RNSNOW', 'SLEET',
       'VRYCLD', 'FZRAIN', 'TSTRMS', 'BLZZRD', 'FLRRYS', 'BLGSNO', 'DRZL',
       'VRYHOT', 'SMOKE'], dtype=object)

In [12]:
#unique values from possible_error colum
df['possible_error'].unique()

array(['none', 'forecast_outlook', 'forecast_temp', 'observed_temp'],
      dtype=object)